<h1>Welcome to IKIGUZI.com</h1>
<p> Our mission is to help african local artists to sell traditional hand made artwork online with ease.  This platform also offer an easy way to order any artwork online with a click of a button</p>

